<%= render layout: 'form' do |f| %>
  <div class="field">
    <%= f.label :password, class: 'required' %>
    <%= f.password_field :password, id: 'password', required: true, pattern: '^(?=.*?[a-zA-Z_-])(?=.*?\d)[0-9a-zA-Z_-]{6,}$' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: 'required' %>
    <%= f.password_field :password_confirmation, id: 'password-confirmation', required: true, title: 'パスワードと一致しません' %>
  </div>
<% end %>
<script>
$('#password').on('input', function(){
    $('#password-confirmation').prop('pattern', $(this).val())
});
</script>
