<%= render layout: 'form' do |f| %>
  <div class="field">
    <%= f.label :zip, class: 'required' %>
    <%= f.text_field :zip, required: true, pattern: '^\d{7}$', title: 'ハイフンなしの７桁の半角数字で入力' %>
  </div>

  <div class="field">
    <%= f.label :address1, class: 'required' %>
    <%= f.text_field :address1, required: true %>
  </div>

  <div class="field">
    <%= f.label :address2 %>
    <%= f.text_field :address2 %>
  </div>
<% end %>
